*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/xcshareddata/**
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
!*.xcodeproj/project.xcworkspace/xcshareddata/
!*.xcodeproj/project.xcworkspace/xcshareddata/**
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
.builder/
.tmp/
AGENTS.md
kls_database.db
server/bin/
composeApp/google-services.json
GoogleService-Info.plist
